<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuj.opencrm.lt.dao.BOinOutParamMappingMapper">
  <resultMap id="BaseResultMap" type="com.liuj.opencrm.lt.bean.BOinOutParamMapping">
    <result column="row_id" jdbcType="INTEGER" property="row_id" />
    <result column="busi_id" jdbcType="INTEGER" property="busi_id" />
    <result column="sys_code" jdbcType="VARCHAR" property="sys_code" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="prarm_source" jdbcType="VARCHAR" property="prarm_source" />
    <result column="out_property" jdbcType="VARCHAR" property="out_property" />
    <result column="supe_out_property" jdbcType="VARCHAR" property="supe_out_property" />
    <result column="out_property_type" jdbcType="VARCHAR" property="out_property_type" />
    <result column="default_value" jdbcType="VARCHAR" property="default_value" />
    <result column="order_no" jdbcType="INTEGER" property="order_no" />
    <result column="convert_class" jdbcType="VARCHAR" property="convert_class" />
    <result column="format_mask" jdbcType="VARCHAR" property="format_mask" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="service_name" jdbcType="VARCHAR" property="service_name" />
  </resultMap>
  <insert id="insert" parameterType="com.liuj.opencrm.lt.bean.BOinOutParamMapping">
    insert into in_out_param_mapping (row_id, busi_id, sys_code, 
      property, prarm_source, out_property, 
      supe_out_property, out_property_type, default_value, 
      order_no, convert_class, format_mask, 
      state, service_name)
    values (#{row_id,jdbcType=INTEGER}, #{busi_id,jdbcType=INTEGER}, #{sys_code,jdbcType=VARCHAR}, 
      #{property,jdbcType=VARCHAR}, #{prarm_source,jdbcType=VARCHAR}, #{out_property,jdbcType=VARCHAR}, 
      #{supe_out_property,jdbcType=VARCHAR}, #{out_property_type,jdbcType=VARCHAR}, #{default_value,jdbcType=VARCHAR}, 
      #{order_no,jdbcType=INTEGER}, #{convert_class,jdbcType=VARCHAR}, #{format_mask,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{service_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuj.opencrm.lt.bean.BOinOutParamMapping">
    insert into in_out_param_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="row_id != null">
        row_id,
      </if>
      <if test="busi_id != null">
        busi_id,
      </if>
      <if test="sys_code != null">
        sys_code,
      </if>
      <if test="property != null">
        property,
      </if>
      <if test="prarm_source != null">
        prarm_source,
      </if>
      <if test="out_property != null">
        out_property,
      </if>
      <if test="supe_out_property != null">
        supe_out_property,
      </if>
      <if test="out_property_type != null">
        out_property_type,
      </if>
      <if test="default_value != null">
        default_value,
      </if>
      <if test="order_no != null">
        order_no,
      </if>
      <if test="convert_class != null">
        convert_class,
      </if>
      <if test="format_mask != null">
        format_mask,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="service_name != null">
        service_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="row_id != null">
        #{row_id,jdbcType=INTEGER},
      </if>
      <if test="busi_id != null">
        #{busi_id,jdbcType=INTEGER},
      </if>
      <if test="sys_code != null">
        #{sys_code,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="prarm_source != null">
        #{prarm_source,jdbcType=VARCHAR},
      </if>
      <if test="out_property != null">
        #{out_property,jdbcType=VARCHAR},
      </if>
      <if test="supe_out_property != null">
        #{supe_out_property,jdbcType=VARCHAR},
      </if>
      <if test="out_property_type != null">
        #{out_property_type,jdbcType=VARCHAR},
      </if>
      <if test="default_value != null">
        #{default_value,jdbcType=VARCHAR},
      </if>
      <if test="order_no != null">
        #{order_no,jdbcType=INTEGER},
      </if>
      <if test="convert_class != null">
        #{convert_class,jdbcType=VARCHAR},
      </if>
      <if test="format_mask != null">
        #{format_mask,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="service_name != null">
        #{service_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>