<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuj.opencrm.lt.generator.mapper.CfgTaskParamValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liuj.opencrm.lt.generator.entity.CfgTaskParamValue">
        <id column="id" property="id" />
        <result column="cfg_task_id" property="cfgTaskId" />
        <result column="param_id" property="paramId" />
        <result column="param_value" property="paramValue" />
        <result column="remarks" property="remarks" />
    </resultMap>

</mapper>
